flows.json
[{"id":"3936f7f9.8a47b8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ea0af35.162971","type":"ibmiot in","z":"3936f7f9.8a47b8","authentication":"apiKey","apiKey":"86495ad1.f00a68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":70,"y":300,"wires":[["25947b22.ecfd04","2991a28a.dc297e","3de8ce4b.8bab32","177cc78f.2b60f8","71f22803.0b2118","a49dcf3d.a4a63"]]},{"id":"481b1f67.ac051","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":260,"wires":[]},{"id":"34838f62.976d5","type":"inject","z":"3936f7f9.8a47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["f5c57ad5.b5fd68","a49dcf3d.a4a63"]]},{"id":"25947b22.ecfd04","type":"ui_gauge","z":"3936f7f9.8a47b8","name":"","group":"f492696e.ef1ba8","order":10,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"41","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":420,"wires":[]},{"id":"2991a28a.dc297e","type":"ui_gauge","z":"3936f7f9.8a47b8","name":"","group":"f492696e.ef1ba8","order":11,"width":"4","height":"3","gtype":"gage","title":"BP Systolic","label":"units","format":"{{msg.payload.BPsystolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":480,"wires":[]},{"id":"3de8ce4b.8bab32","type":"ui_gauge","z":"3936f7f9.8a47b8","name":"","group":"f492696e.ef1ba8","order":12,"width":"4","height":"3","gtype":"gage","title":"BP Diastolic","label":"units","format":"{{msg.payload.BPdiastolic}}","min":0,"max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":540,"wires":[]},{"id":"177cc78f.2b60f8","type":"ui_gauge","z":"3936f7f9.8a47b8","name":"","group":"f492696e.ef1ba8","order":13,"width":"4","height":"3","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":620,"wires":[]},{"id":"eddd358.58f8bc8","type":"ui_form","z":"3936f7f9.8a47b8","name":"","label":"","group":"f492696e.ef1ba8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"n","type":"text","required":true,"rows":null},{"label":"Gender","value":"g","type":"text","required":true,"rows":null},{"label":"age","value":"a","type":"text","required":true,"rows":null}],"formValue":{"n":"","g":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":410,"y":200,"wires":[["481b1f67.ac051","f5c57ad5.b5fd68"]]},{"id":"844ddc4c.74d03","type":"ui_text","z":"3936f7f9.8a47b8","group":"f492696e.ef1ba8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":400,"wires":[]},{"id":"f2a89641.b15528","type":"http request","z":"3936f7f9.8a47b8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":340,"wires":[["d4d8877c.e93668"]]},{"id":"be5ac3c4.ab6fb","type":"function","z":"3936f7f9.8a47b8","name":"Pre Prediction","func":"var a = global.get(\"a\")\nvar t = global.get(\"t\")\nvar s = global.get(\"s\")\nvar d = global.get(\"d\")\nvar p = global.get(\"p\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"age\",\"Temperature\",\"Systolic\",\"Diastolic\",\"Pulse\"],\"values\": [[a,t,s,d,p]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["fb3e7e7c.ca0ff"]]},{"id":"a49dcf3d.a4a63","type":"function","z":"3936f7f9.8a47b8","name":"pre-token","func":"global.set(\"t\",msg.payload.temperature)\nglobal.set(\"s\",msg.payload.BPsystolic)\nglobal.set(\"d\",msg.payload.BPdiastolic)\nglobal.set(\"p\",msg.payload.pulse)\nvar apikey=\"V9ERVTsYfGtrpcxyn8JZmKcxqQo_hGY8-TBFa5DCbxt7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":400,"wires":[["a7149767.fba788","f2a89641.b15528"]]},{"id":"a7149767.fba788","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"fb3e7e7c.ca0ff","type":"http request","z":"3936f7f9.8a47b8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/9ca2433b-f932-4703-8a7b-035c603d1593/predictions?version=2020-10-19","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":440,"wires":[["c9e6efbb.62faa","46ece4e9.21ebfc"]]},{"id":"c9e6efbb.62faa","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":560,"wires":[]},{"id":"46ece4e9.21ebfc","type":"function","z":"3936f7f9.8a47b8","name":"Parsing","func":"var n = global.get(\"n\")\nvar g = global.get(\"g\")\nvar a = global.get(\"a\")\nvar t = global.get(\"t\")\nvar s = global.get(\"s\")\nvar d = global.get(\"d\")\nvar p = global.get(\"p\")\nmsg.payload={\"name\":n,\"gender\":g,\"age\":a,\"Temperature\":t,\"Systolic\":s,\"Diastolic\":d,\"Pulse\":p,\"prediction\":msg.payload.predictions[0].values[0][0]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":320,"wires":[["844ddc4c.74d03","42895e3b.c3397","959cf7cf.4e55a8"]]},{"id":"42895e3b.c3397","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"7115165a.acc8f8","type":"join","z":"3936f7f9.8a47b8","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":300,"wires":[["a961645.3afae98","be5ac3c4.ab6fb","46ece4e9.21ebfc"]]},{"id":"a961645.3afae98","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":160,"wires":[]},{"id":"f5c57ad5.b5fd68","type":"function","z":"3936f7f9.8a47b8","name":"pre-token","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"V9ERVTsYfGtrpcxyn8JZmKcxqQo_hGY8-TBFa5DCbxt7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["6b111bab.eb6b64"]]},{"id":"6b111bab.eb6b64","type":"http request","z":"3936f7f9.8a47b8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":180,"wires":[["aa7c59b5.e6d0f8"]]},{"id":"d4d8877c.e93668","type":"split","z":"3936f7f9.8a47b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":420,"wires":[["7115165a.acc8f8"]]},{"id":"aa7c59b5.e6d0f8","type":"split","z":"3936f7f9.8a47b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":180,"wires":[["7115165a.acc8f8"]]},{"id":"71f22803.0b2118","type":"debug","z":"3936f7f9.8a47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":260,"wires":[]},{"id":"959cf7cf.4e55a8","type":"cloudant out","z":"3936f7f9.8a47b8","name":"","cloudant":"bf9b16b3.d5f858","database":"healthmonitor","service":"node-red-quwva-2020--cloudant-1602256163093-28960","payonly":true,"operation":"insert","x":1440,"y":300,"wires":[]},{"id":"86495ad1.f00a68","type":"ibmiot","z":"","name":"Health monitor","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f492696e.ef1ba8","type":"ui_group","z":"","name":"Health data","tab":"93a49ee8.9a62e","order":3,"disp":true,"width":"8","collapse":false},{"id":"bf9b16b3.d5f858","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"93a49ee8.9a62e","type":"ui_tab","z":"","name":"Health Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]